<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Agregar paquete</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-item>
    <ion-label>Descripcion:</ion-label>
    <ion-input [maxlength]="20" [(ngModel)]="Descripcion"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Empleado:</ion-label>
    <ion-select [(ngModel)]="usuarioEntregar">
      <ion-select-option *ngFor="let Usu of Usuarios" value="{{Usu.Usuario}}">{{Usu.Usuario}}</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label><ion-icon name="navigate"></ion-icon> </ion-label>
    <ion-input [maxlength]="50" [(ngModel)]="search_address"></ion-input>
    <ion-button fill="outline" slot="end" color="primary" (click)="Buscar($event)">Buscar</ion-button>
  </ion-item>

  
  <ion-item *ngIf="search_address != '' && usuarioEntregar != '' && Descripcion != '' &&">
    <ion-button  expand="block" (click)="guardar()">Guardar</ion-button>
  </ion-item>
  
  
  <div #map_canvas id="map_canvas"></div>

</ion-content>
