<ion-header>
  <ion-toolbar>
    <ion-buttons (click)="dismiss()" slot="start">
      <ion-back-button defaultHref="inicio/paquete" ></ion-back-button>
    </ion-buttons>
    <ion-title>Modificar Paquete</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list lines="full" class="ion-no-margin ion-no-padding">
    <br>
    
    <ion-item>
      <ion-label position="stacked">Dirreccion <ion-text color="danger">*</ion-text></ion-label>
      <ion-input [maxlength]="20" disabled="true" [minlength]="5" [(ngModel)]="Contrasena" required type="text"></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label position="stacked">Descripcion <ion-text color="danger">*</ion-text></ion-label>
      <ion-input [maxlength]="20" [(ngModel)]="Usuario" required type="text"></ion-input>
    </ion-item>
    
    <ion-select [(ngModel)]="StatusPaquete">
      <ion-select-option value="0">No entregado</ion-select-option>
      <ion-select-option value="1">Entregador</ion-select-option>
    </ion-select>


    <ion-item>
      <ion-label>Usuario a entregar</ion-label>
      <ion-select [(ngModel)]="EmpleadoEntrega">
        <ion-select-option *ngFor="let Usu of Usuarios" value="{{Usu.Usuario}}">{{Usu.Usuario}}</ion-select-option>
      </ion-select>
    </ion-item>

  </ion-list>

  <section>
    <ion-button *ngIf="name != '' && address != '' && StatusPaquete != 0 && EmpleadoEntrega != ''" (click)="agregar()" expand="block">Modificar</ion-button>
  </section>
</ion-content>